/* Skiils */
#skills {
  background-color: var(--color-yellow);
}

.skillset {
  background-color: var(--color-light-grey);
  display: flex;
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  background-color: var(--color-dark-grey);
  flex-basis: 60%;
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
  height: 50%;
}

.tools,
.etc {
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .skillset {
    flex-direction: column;
  }
}
