/* testimonials */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  justify-content: space-between;
  margin: 32px 0px;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}
.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial__speech-bubble p {
  font-size: var(--font-micro);
  color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-pink);
}

@media screen and (max-width: 768px) {
  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }

  .testimonials {
    margin: 16px;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__avatar:nth-child(even),
  .testimonial__avatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 8px;
  }
  .testimonial__speech-bubble {
    order: 1;
  }
}
